@model OnlineTests.Domain.Entities.Answer

@{
    ViewBag.Title = "ონლაინ ტესტები: "+ViewBag.ActionName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("AdminNavBar")

<div class="container">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <h3>@ViewBag.ActionName</h3>
    <hr />
@using(Html.BeginForm()){
    @Html.HiddenFor(m => m.ID)
<table>
<tr>
  <td class="col-md-5">
     <div class="form-group">
         <label>@Html.DisplayNameFor(m => m.Text)</label>
         @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = Model.Text })
         @Html.ValidationMessageFor(m => m.Text)
      </div>
   </td>
    <td class="col-md-3">
     <div class="form-group">
         <label>@Html.DisplayNameFor(m => m.IsRight)</label>
         @if(Model.IsRight=="Yes"){
         @Html.DropDownListFor(m => m.IsRight, new[]{ new SelectListItem(){ Text="სწორი პასუხი", Value="Yes"}, 
                 new SelectListItem(){Text="არასწორი პასუხი", Value="No"}}, new { @class = "form-control" })
         }
         else{
             @Html.DropDownListFor(m => m.IsRight, new[]{ new SelectListItem(){Text="არასწორი პასუხი", Value="No"},
                 new SelectListItem(){ Text="სწორი პასუხი", Value="Yes"}}, new { @class = "form-control" })
         }
         @Html.ValidationMessageFor(m => m.IsRight)
      </div>
   </td>  
</tr>
</table>
<div class="form-group">
    @Html.ActionLink("გამოსვლა შენახვის გარეშე", "Edit_Create_Question", new { questionID=Model.QuestionId }, new { @class = "btn btn-default" })
    <input type="submit" value="პასუხის შენახვა" class="btn btn-primary" /> 
 </div>
 }
</div>