<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body style="margin-top:0px; padding-top:0px">
    @Html.Partial("UserNavBar")

        <div class="col-md-3">
            @using (Html.BeginForm("SearchTest", "Tests", FormMethod.Get))
            {
                <div class="container">
                    <div class="form-group">
                        @Html.TextBox("testname",null,new {@style="width:200px", @placeholder="ტესტის სახელით ძიება"})
                        <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
               </div>
            }
            @Html.Action("Menu", "Nav");
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

